{#
/**
 * @file balidea-test.html.twig
 * Default theme implementation to balidea data from config form.
 *
 * This template is used when route /balidea_test/balidea is visited
 *
 *
 * Available variables:
 *  'text': Text saved in Balidea config.
 *  'number': Number saved in Balidea config.
 *
 */
#}

<section>
<div>
<p> Texto informativo: {{text}}</p>
<p> Número entero: {{number}}</p>
</div>
</section>
